<div fxLayout="column" class="p-2">

  <div class="p-2">
      <mat-card>
        <form #searchStudentForm="ngForm" (ngSubmit)="searchStudentForm.form.valid && searchStudent(searchStudentForm)"  fxLayout="column" fxLayoutAlign="center">
          <mat-card-header fxLayoutAlign="center">                
              <mat-card-subtitle><h2>Student Performance Report (SPR)</h2></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="center">                         
              <table cellspacing="0" class="w-100">
                  <tr>
                      <td>
                          <mat-form-field class="w-100">
                              <input matInput placeholder="School Code" name="schoolCode" #schoolCode="ngModel" [(ngModel)]="searchStudentModel.schoolCode" required>
                          </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field class="w-100">
                              <mat-select placeholder="Select Class" name="class" #class="ngModel" [(ngModel)]="searchStudentModel.class" required >
                                <mat-option [value]="9" >9</mat-option>
                                <mat-option [value]="10" >10</mat-option>
                            </mat-select>
                            </mat-form-field>
                      </td>
                      <td>
                        <mat-card-actions>
                          <button type="submit" [disabled]="!searchStudentForm.form.valid" mat-raised-button color="primary" class="w-100">Search</button>
                        </mat-card-actions>
                      </td>
                  </tr>
              </table>           
          </mat-card-content>
          </form>

          <!-- Student List Table Data -->
          
          <div flFlex flexLayout="row" flexLayout.lt-md="column" *ngIf="respList.length > 0"  >
            <div fxLayout="row" fxLayoutAlign="end">
              <button type="button" mat-raised-button color="warn" (click)="printToCart('printSectionId')" class="w-100">Print</button>
            </div>
            <div id="printSectionId">
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="false" >
              <h2>Student Performance Report (SPR)</h2>
            </div>
            <table class="flatTable">
                <colgroup span="4"></colgroup>
                <thead>
                  <tr>
                    <th scope="col" width="5%">S No</th>
                    <th scope="col" width="10%">Roll No</th>
                    <th scope="col" width="15%">Student Name</th>
                    <th colspan="6">Subject </th>
                   <!--  <th scope="col" width="10%">Math (B)</th>
                    <th scope="col" width="10%">Science</th>
                    <th scope="col" width="10%">English</th>
                    <th scope="col" width="10%">Social</th>
                    <th scope="col" width="10%">Hindi (A)</th>
                    <th scope="col" width="10%">Hindi (B)</th>
                    <th scope="col" width="10%">SKT</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of gridData;let i=index" >
                    <td>{{i+1}}</td>
                    <td scope="row" >{{item.rollNo}}</td>
                    <td scope="row">{{item.studentName}}</td>
                    <td scope="row" *ngFor="let s of [0,1,2,3,4,5]">
                      {{item.subjectName[s]?.subjectMarks == undefined ? '-' : (item.subjectName[s]?.subjectName +" - "+ item.subjectName[s]?.subjectMarks)}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </mat-card>
  </div>
</div>


<ngx-alerts></ngx-alerts>    
<ngx-spinner
  bdOpacity = 1
  bdColor = "rgba(4,4,4,0.43)"
  size = "medium"
  color = "#fff"
  type = "square-spin"
  [fullScreen] = "true">
  <h4 style="color: white;font-weight: 700;"> Please Wait... </h4>
</ngx-spinner>